*::-webkit-scrollbar {
  width: 0.5rem;

}

*::-webkit-scrollbar-track {
  background-color: hsl(235,21%,22%);
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(235,21%,30%);
  border-radius: 10px;
}

.my-10 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

.cursor-default {
  cursor: default !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.google-login-btn {
  width: 17rem;
  height: 3rem !important;
  border-radius: 4px !important;
  background: hsl(0,0%,87%);
  border:0px transparent !important;  
  text-align: center;
  margin:5px;
  display: inline-block;
  font-family: inherit !important;
  font-size: 1rem !important;
}

.blur {
  pointer-events: none;
  position: fixed;
  opacity: 0.5;
}

.btn-login {
  margin-top: 3px;
  border: 1px solid hsl(264,38%,51%);
  background-color: white;
  color: hsl(264,38%,51%);
  font-weight: 600;
}

.modal-custom {
  padding-top: 5% !important;
  z-index: 1060;
  overflow-y: scroll !important;
}

.google-login-btn:hover {
  background: hsl(0,0%,100%);
}

.facebook-login-btn {
  width: 17rem;
  height: 3rem;
  border-radius: 4px;
  background: hsl(220,44%,41%);
  color:white;
  border:0px transparent;  
  text-align: center;
  margin:5px;
  display: inline-block;
  font-size: 1rem !important;
}

.facebook-login-btn:hover {
  background: hsl(220,44%,50%);
}

.email-login-btn {
  width: 17rem;
  height: 3rem;
  border-radius: 4px;
  background: hsl(0,0%,13%);
  color:white;
  border:0px transparent;  
  text-align: center;
  margin:5px;
  display: inline-block;
  font-size: 1rem !important;
}

.email-login-btn:hover {
  background: hsl(0,0%,20%);
}

.image-list {
  min-width: 10rem;
  min-height: 10rem;
  max-width: 20rem;
  max-height: 20rem;
}

.brand-image {
  max-height: 25rem;
}

.image-scroll {
  overflow: auto;
  white-space: nowrap;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.right-middle {
  top: 50% !important;
  right: 1% !important;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.left-middle {
  top: 50% !important;
  left: 1.7% !important;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.scroll-btn {
  color: hsl(222, 10%, 50%);
}

.scroll-btn:hover {
  color: hsl(222, 10%, 25%);
}

.active-image {
  min-width: 10rem;
  min-height: 10rem;
  max-width: 25rem;
  max-height: 25rem;
}

.inactive-image {
  min-width: 3rem;
  min-height: 3rem;
  max-width: 10rem;
  max-height: 10rem;
}

label.radio {
  cursor: pointer
}

label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none
}

label.radio span {
  padding: 2px 9px;
  border: 1px solid hsl(100,12%,90%);
  display: inline-block;
  color: black;
  border-radius: 3px;
  text-transform: uppercase
}

label.radio input:checked+span {
  border-color: hsl(100,12%,95%);
  background-color: hsl(100,12%,80%);
  color: black
}

/* Loader */

.loader-bg{
  position: fixed;
  background: #fff;
  width: inherit;
  height: inherit
}
.loader-p{
  border: 0 solid transparent;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: calc(50vh - 150px);
  left: 50vw;
}

.loader-p:before, .loader-p:after{
  content: '';
  border: 1em solid #15e38a;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader-p:before{
  animation-delay: 0.5s;
}

@keyframes loader{
  0%{
    transform: scale(0);
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }
}

/* end loader */
